<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Teoria/Aula6_Teoria_Pandas_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aula 6 - Pandas e Fontes de dados

In [ ]:
import pandas as pd
import numpy as np

### Função apply
#### Aplica uma função às linhas ou às colunas de um DataFrame

In [ ]:
# Considere o dataframe abaixo
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                        index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
# Crie uma função lambda para calcular o valor máximo de uma Serie e multiplica-lo por 2,
#   e aplique-a ao dataframe frame, fazendo o cálculo no eixo das linhas
f = lambda x: x.max()*2
frame.apply(f, axis='rows')

In [ ]:
# aplique afunção lambda ao dataframe frame, fazendo o cálculo no eixo das colunas
frame.apply(f, axis='columns')

### Função applymap
#### Aplica uma função a cada element (element-wise)

In [ ]:
# Crie uma função lambda para formatar um número float com duas casas decimais,
#    e aplique-a ao dataframe frame
format = lambda x: '%.2f' % x
frame.applymap(format)

### Sumarização e Estatística Descritiva

In [ ]:
# Considere o dataframe abaixo
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]],
                    index=['a', 'b', 'c', 'd'],
                    columns=['one', 'two'])
df

In [ ]:
# Calcule a soma ao longo do eixo das linhas
df.sum()

In [ ]:
# Calcule a soma ao longo do eixo das colunas
df.sum(axis='columns')

### mean (média)
#### Os valores de NA são excluídos, a menos que a fatia inteira linha ou coluna seja NA.
#### Isso pode ser desativado com a opção skipna

In [ ]:
# Calcule a média ao longo do eixo das linhas desconsiderando valores NA
df.mean(axis='columns')

In [ ]:
# Calcule a média ao longo do eixo das linhas
#    retornando NA para colunas que tenham algum NA
df.mean(axis='columns', skipna=False)

### describe (resumo de várias estatísticas)

In [ ]:
# Aplique um método para calcular várias estatísticas do dataframe df
df.describe()

### Manipulação de Fontes de Dados

In [ ]:
import pandas as pd
import numpy as np

#### Carregar dados de um Arquivo XLS

In [ ]:
### Ler o arquivo com o pib dos municípios brasileiros e guarde numa variável df_pib
### Você pode ler de um arquivo local ou fazer o download de uma URL
df_pib = pd.read_excel('https://github.com/alexlopespereira/enapespcd2021/raw/main/data/originais/pib/pib_municipios.xlsx', sheet_name='Tabela', skiprows=3)
# sheet_name é o argumento para o aba da planilha desejada.
# Se você quiser a 1a aba, não precisa especificar.

In [ ]:
# Mostra os primeiros 4 registros da variavel df_pib
df_pib.head(4)
### As 3 primeiras e a ultima linha são inuteis

In [ ]:
# Mostra os ultimos 4 registros da variavel df_pib
df_pib.tail(4)

In [ ]:
# Ler o arquivo do pib removendo as 3 primeiras linhas e a última
df_pib = pd.read_excel('https://github.com/alexlopespereira/enapespcd2021/raw/main/data/originais/pib/pib_municipios.xlsx', skiprows=3, skipfooter=1)
# Mostra os primeiros registros
df_pib.head()
# O nome das 3 primeiras colunas está incoerente

In [ ]:
# Renomear estas colunas
df_pib.rename(columns={'Unnamed: 0': 'nivel', 'Unnamed: 1': 'cod_ibge7',
                      'Unnamed: 2': 'municipio'}, inplace=True)
# Mostra os primeiros registros
df_pib.head()

#### Carregar dados de um Arquivo CSV

In [ ]:
# Salvar este dataframe em formato CSV
# O separador padrão é vírgula. Use o ; para testar a especificação de um separador
# Recomendação para nomes de arquivos: use nomes simples, sem espaço e sem caracteres especiais.
df_pib.to_csv('./pib_municipios.csv', sep=";", index=False)
# Para mostrar as primeiras linhas do arquivo no Linux: !head ./pib_municipios.csv

In [ ]:
# Carregue o arquivo pib_municipios.csv. Atente para o separador correto.
df_pib_csv = pd.read_csv('./pib_municipios.csv', sep=";")
# Mostra os primeiros registros
df_pib_csv.head()

### Outras Operacoes no Pandas

#### Descartando valores faltantes (NA ou NaN)

In [ ]:
from numpy import nan as NA
# Considere a serie a seguir
data = pd.Series([1, NA, 3.5, NA, 7])
# Remova os valores NA
data.dropna()

In [ ]:
# Comando equivalente ao dropna, mas usando o método notnull()
data[data.notnull()]

#### Preenchendo valores faltantes

In [ ]:
# Considere o seguinte DataFrame
# Construir um dataframe a partir de uma matriz de 7 x 3 de números aleatórios
# de uma distribuição normal padrão
df = pd.DataFrame(np.random.randn(7, 3))
# Preenchendo o DataFrame com alguns valores NA
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

In [ ]:
# Preencha os valores NA com zero
df.fillna(0, inplace=True)
df

In [ ]:
# Use um mapeamento (com dicionário) para preencher os valores NA
# Na coluna 1 substitua NA por 0.5 e na coluna 2 substitua NA por 0
df.fillna({1: 0.5, 2: 0})

In [ ]:
# Preencha com zero alterando o DataFrame df
df.fillna(0, inplace=True)
df

In [ ]:
# Considere o seguinte dataframe
df = pd.DataFrame(np.random.randn(7, 3))
# Preencha o DataFrame com alguns valores NA
df.iloc[1:4, 1] = NA
df.iloc[1:3, 2] = NA
df.iloc[5, 1] = NA
df

In [ ]:
df.isnull()

In [ ]:
df.isnull().iloc[:, 1].sum()

In [ ]:
# Preencha os valores NA com o método ffill
df.fillna(method='ffill', inplace=True)

In [ ]:
df.isnull().iloc[:, 1].sum()

In [ ]:
df.to_markdown()

### Remover duplicatas

In [ ]:
# Considere o seguinte dataframe
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
# Mostre quais desses itens são duplicados
data.duplicated()

In [ ]:
# Remova os itens duplicados
data.drop_duplicates()

### Indexação Hierárquica

#### Possibilita mais de um nível de indexação num eixo

In [ ]:
# Considere a seguinte Serie
data = pd.Series(np.random.randn(9), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                            [1, 2, 3, 1, 3, 1, 2, 2, 3]])
# Mostre o indice hierárquico
data.index

In [ ]:
# Faça um filtro com uma lista
data.loc[['b', 'd']]

In [ ]:
# Faça um filtro no 2o Nível (mais interno)
data.loc[:, 2]

In [ ]:
# Considere o seguinte dataframe
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

In [ ]:
# Resumo estatístico por nível
# Extraia a soma da agregação do nível 2 (mais interno)
frame.sum(level='key2')