<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Exercicios/Aula5_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 5 - Exercícios - Python e Pandas

In [2]:
!pip install --upgrade ipynb_autograde 1> /dev/null

In [ ]:
%env  COURSE=mba_enap
from ipynb_autograde.main import init_log, validate
init_log()
email_result=!gcloud config get-value account
if not email_result or 'unset' in email_result[0]:
  !gcloud auth login

### Onde buscar informações sobre as funções do Pandas
[https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)

In [5]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 5.1 Resolva o problema abaixo com uma função python que utilize umá serie do pandas:
#### Entradas : ```[1, 2, 3, 4, 5, 6, 7, 8]``` e ```[2, 4, 6, 8, 10, 12]```
#### Resultado Esperado: ```[1, 3, 5, 7]```

In [27]:
prompt51="""Escreva uma função que recebe como argumento duas listas de numeros, converte-as duas para series pandas, e encontra o conjunto complementar da 1a serie em relação a 2a. Converta a serie resultante para lista e retorne-a"""

In [ ]:
validate(prompt51, "A5-E1")

### 5.2 Resolva o problema abaixo com uma função python que utilize umá serie do pandas:
#### Entrada: ```[1, 2, 3, 4, 5, 6, 7, 8]``` e ```[2, 4, 6, 8, 10, 12]```
#### Resultado Esperado: ```[1, 3, 5, 7,10,12]```

In [29]:
prompt52="""Escreva uma função que recebe como argumento duas listas de numeros, converte-as duas para series pandas, e encontra o conjunto uniao dos dois conjuntos complementares das duas series.  Converta a serie resultante para lista e retorne-a"""

In [ ]:
validate(prompt52, "A5-E2")

### Instruções para Questões 5.3 a 5.5
#### Considere que todos os dataframes de entrada estão no seguinte formato (o conteúdo varia de acordo com o exercício):
```
[{"name": "Anastasia", "score": 12.5, "attempts": 1, "qualify": "yes"},
{"name": "Dima", "score": 9.0, "attempts": 3, "qualify": "no"},
{"name": "Katherine", "score": 16.5, "attempts": 2, "qualify": "yes"},
{"name": "James", "score": "", "attempts": 3, "qualify": "no"}]
```

### 5.3 Escreva uma função para selecionar as linhas de um dataframe onde o valor na coluna especificada seja ausente (NA)

#### Entrada:
Um dicionário com os seguintes dados

| name      |   score |   attempts | qualify   |
|:----------|--------:|-----------:|:----------|
| Anastasia |    12.5 |          1 | yes       |
| Dima      |     9   |          3 | no        |
| Katherine |    16.5 |          2 | yes       |
| James     |         |          3 | no        |
| Emily     |     9   |          2 | no        |
| Michael   |    20   |          3 | yes       |
| Matthew   |    14.5 |          1 | yes       |
| Laura     |         |          1 | no        |

E ```score```

#### Resultado esperado:
Um dicionário com os seguintes dados

| name   | attempts | qualify   |
|:-------|---------:|:----------|
| James  |        3 | no        |
| Laura  |        1 | no        |

In [53]:
prompt53="""Escreva uma função python que recebe um dicionario e o converte num dataframe. Interprete valores "" do dicionario de entrada como NA. Seleciona as linhas cujos valores da coluna especificada no segundo argumento da função são NA. Deixe no resultado final apenas as colunas name,	attempts, qualify. Retorna as linhas selecionadas no formato de um dicionário orientado por registros."""

In [ ]:
validate(prompt53, "A5-E3")

### 5.4 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe, especificando como parâmetros de entrada o nome da coluna, o valor original e o novo valor.
#### Entrada:
Um dicionário com os seguintes dados

| name      |   score | qualify   |
|:----------|--------:|:----------|
| Jose |    12.5 | yes       |
| Maria      |     9   | no        |
| Joao |    16.5 | yes       |
| Pedro     |   13   | no        |

E ```name```, ```Pedro``` e ```Rafael```

#### Resultado Esperado:
Um dicionário com os seguintes dados

| name      |   score | qualify   |
|:----------|--------:|:----------|
| Jose |    12.5 | yes       |
| Maria      |     9   | no        |
| Joao |    16.5 | yes       |
| Rafael    |   13   | no        |

In [67]:
prompt54="""Escreva uma função python que recebe um dicionario orientado por records e o converte num dataframe. Altera o conteúdo da celula especificada pela coluna referenciada no 2o argumento e pelo conteúdo do 3o argumento atribuindo o valor do 4o argumento. Retorne o resultado no formato de um dicionário orientado por registros."""

In [ ]:
validate(prompt54, "A5-E4")

### 5.5 Resolva o problema abaixo com uma função python que utilize umá serie do pandas

#### Entrada:
Um dicionário com os seguintes dados

| name      |   score | qualify   |
|:----------|--------:|:----------|
| Jose |    12.5 | yes       |
| Maria      |     9   | no        |
| Joao |    16.5 | yes       |

#### Resultado Esperado:
Um dicionário com os seguintes dados

| name      |   score | qualify   |
|:----------|--------:|:----------|
| Jose |    12.5 | 1      |
| Maria      |     9   | 0     |
| Joao |    16.5 | 1      |

In [64]:
prompt55="""Escreva uma função python que recebe um dicionario orientado por records e o converte num dataframe. Faça um mapeamento de yes->1 e no->0 para a coluna qualify. Retorne o resultado no formato de um dicionário orientado por registros."""

In [ ]:
validate(prompt55, "A5-E5")

### 5.6 Resolva o problema abaixo com uma função python que utilize umá serie do pandas

#### Entrada:
```https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv```, ```price``` e ```3```

### Resultado esperado:

Um dicionário com os seguintes dados

|       |   carat | cut       | color   | clarity   |   depth |   table |   price |    x |    y |    z |
|------:|--------:|:----------|:--------|:----------|--------:|--------:|--------:|-----:|-----:|-----:|
| 27749 |    2.29 | Premium   | I       | VS2       |    60.8 |      60 |   18823 | 8.5  | 8.47 | 5.16 |
| 27748 |    2    | Very Good | G       | SI1       |    63.5 |      56 |   18818 | 7.9  | 7.97 | 5.04 |
| 27747 |    1.51 | Ideal     | G       | IF        |    61.7 |      55 |   18806 | 7.37 | 7.41 | 4.56 |

In [69]:
prompt56="""Crie uma função que recebe como argumento a url de um csv. Faz o download do csv, converte-o para Dataframe, ordena por ordem decrescente pela coluna referenciada no 2o argumento, e retorna os top N resultados, onde N é o 3o argumento da função. Retorne o resultado no formato de um dicionário orientado por registros."""

In [ ]:
validate(prompt56, "A5-E6")

### 5.7 Ainda sobre o dataframe diamonds do exercicio anterior, crie um prompt de uma função para retornar os diamentes que têm as três dimensões maiores do que um dado valor.

#### Entrada:
```https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv```, ```x```, ```y```, ```z``` e ```7```

#### Resultado esperado:

Um dicionário com os seguintes dados

|   carat | cut     | color   | clarity   |   depth |   table |   price |    x |    y |    z |
|--------:|:--------|:--------|:----------|--------:|--------:|--------:|-----:|-----:|-----:|
|       2 | Premium | H       | SI2       |    58.9 |      57 |   12210 | 8.09 | 58.9 | 8.06 |

In [71]:
prompt57="""Crie uma função python para fazer download cuja URL do csv é passada no 1o argumento, depois filtrar os registros deste dataframe de tal forma que as tres colunas identificadas nos argumentos 2 a 4 tenham ao mesmo tempo valores maiores do que o valor especificado no argumento 5o. Retorne o resultado no formato de um dicionário orientado por registros."""

In [ ]:
validate(prompt57, "A5-E7")

### 5.8 Faça um prompt de uma função que utilize uma função lambda (anônima) para resolver o problema abaixo

#### Entrada:
```
[{'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
{'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
{'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}
]
```
e
```'nome'```

#### Resultado esperado:
```
[{'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
{'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
{'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]
```

In [76]:
prompt58 = """Crie uma função python para ordernar uma lista de dicionários a partir de uma chave do dicionário especificada no 2o argumento da função. Retorne a lista ordenada."""

In [89]:
validate(prompt58, "A5-E8")

Codigo gerado:
def ordenar_lista(lista, chave):
    return sorted(lista, key=lambda dicionario: dicionario[chave])


❌ Failed the Test Case:
  Expected: [{'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}, {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}, {'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]
  Error while running the code: Error from cloud function: string indices must be integers, not 'list'

### 5.9 Faça um prompt de uma função que utilize uma função lambda (anônima) para resolver o problema abaixo

#### Entrada: ```'nome'``` e
Um dicionário com os seguintes dados

|   d1 |   d2 |   d3 |
|-----:|-----:|-----:|
|   20 |   33 |   19 |
|   36 |   25 |   47 |
|   25 |   48 |    9 |
|    4 |   39 |   27 |



#### Resultado esperado: ```[25, 39, 27]```

In [87]:
prompt59 = """Crie uma função python receber um dicionario orientado por registros, transforma-lo num dataframe e selecionar o 2o maior valor de cada coluna e retornar numa lista do tipo int cuja ordenação é a mesma das colunas do dataframe."""

In [88]:
validate(prompt59, "A5-E9")

Codigo gerado:
def obter_segundo_maior_valor(dicionario):
    df = pd.DataFrame.from_records(dicionario)
    segundo_maior = []
    for coluna in df.columns:
        valores_unicos = df[coluna].dropna().unique()
        if len(valores_unicos) < 2:
            segundo_maior.append(int(valores_unicos[0]) if len(valores_unicos) == 1 else None)
        else:
            sorted_valores = sorted(valores_unicos, reverse=True)
            segundo_maior.append(int(sorted_valores[1]))
    return segundo_maior

# Example usage:
# dicionario = [
#     {"A": 10, "B": 20},
#     {"A": 30, "B": 15},
#     {"A": 20, "B": 25}
# ]
# print(obter_segundo_maior_valor(dicionario))  # Output: [20, 20]

✅ Passed the Test Case!
  Expected: [25, 39, 27]
  Delivered: [25, 39, 27]