<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Exercicios/Aula9_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 9 - Exercício - Agregação com Pandas

### Documentação do Autograder [Link](https://github.com/alexlopespereira/mba_enap/blob/main/Exercicios/Autograder.ipynb)


*   Link para o gabarito das questões
*   Imports padrão
*   Instalação
*   Autenticaçao para nota
*   Validação

In [1]:
!pip install --upgrade ipynb_autograde > /dev/null

In [ ]:
%env  COURSE=mba_enap
from ipynb_autograde.main import init_log, validate
init_log()
email_result=!gcloud config get-value account
if not email_result or 'unset' in email_result[0]:
  !gcloud auth login

In [3]:
# Faca o import das bibliotecas
import pandas as pd
import numpy as np

### 9.1 Escreva um prompt de uma função python para carregar os dados de população de 2017 e realizar as operações ilustradas na tabela a seguir. Retorne apenas os top 3 resultados ordenados pela soma.

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/populacao/estimativa_dou_2017.xlsx```


### Resultado esperado:

|    | uf   |      sum |     mean |   median |    std |
|---:|:-----|---------:|---------:|---------:|-------:|
|  0 | SP   | 45094866 |  69914.5 |    13810 | 489370 |
|  1 | MG   | 21119536 |  24759.1 |     8287 | 100604 |
|  2 | RJ   | 16718956 | 181728   |    35918 | 693337 |

In [15]:
prompt91 = """Escreva uma função Python utilizando pandas para carregar um arquivo Excel de uma URL passada como 1o argumento interpretando a coluna cod_ibge como string. Nomeie esse dataframe como df_pop. Agrege o dataframe  por uf e calcule as métricas sum, mean, median e std da coluna pop2017, arredonde o resultado de todas essas métricas para uma casa decimal. Ordene o dataframe agregado pela coluna sum, e depois retorne os top 3 registros. Antes de retornar, aplique o metodo reset_index(drop=False)
"""

In [16]:
validate(prompt91, "A9-E1")

Error: 400 - Bad Request
Details: {"error":"Unsafe code: Syntax error in code: invalid syntax (<unknown>, line 1)"}

### 9.2 Escreva um prompt de uma função python para carregar os dados do dataset do Titanic e realizar as operações ilustradas na tabela a seguir.

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/titanic/titanic.xls```


### Resultado esperado:


|    |   pclass | sex    |   survived |   fare |
|---:|---------:|:-------|-----------:|-------:|
|  0 |        1 | female |        139 |   80.9 |
|  1 |        1 | male   |         61 |   49.5 |
|  2 |        2 | female |         94 |   23   |
|  3 |        2 | male   |         25 |   13   |
|  4 |        3 | female |        106 |   10.5 |
|  5 |        3 | male   |         75 |    7.9 |

In [7]:
prompt92 = """Escreva uma função Python utilizando pandas para carregar um arquivo Excel de uma URL passada como 1o argumento. Nomeie esse dataframe como df_titanic. Agrege o dataframe por pclass e sex, e calcule a soma da coluna survived e a mediana da coluna fare, assim: df_titanic.groupby(['pclass', 'sex']).agg({'survived': 'sum', 'fare': 'median'}). Arredonde o resultado de todas essas métricas para uma casa decimal. Antes de retornar, aplique o metodo reset_index(drop=False)"""

In [8]:
validate(prompt92, "A9-E2")

Codigo gerado:
def process_titanic_data(url):
    df_titanic = pd.read_excel(url)
    result = df_titanic.groupby(['pclass', 'sex']).agg({'survived': 'sum', 'fare': 'median'})
    result = result.round(1)
    return result.reset_index(drop=False)

✅ Passed the Test Case!
  Expected: {'data': {'aggregation_checks': {'sum': {'fare': 184.8, 'pclass': 12.0, 'survived': 500.0}, 'total_rows': {'max': 6, 'min': 6}}, 'columns': ['pclass', 'sex', 'survived', 'fare'], 'dtypes': {'fare': 'float64', 'pclass': 'int64', 'sex': 'object', 'survived': 'int64'}, 'sample_rows': [{'expected_values': {'survived': 139}, 'filter': {'pclass': 1, 'sex': 'female'}}, {'expected_values': {'survived': 75}, 'filter': {'pclass': 3, 'sex': 'male'}}]}, 'type': 'dataframe', 'validation_rules': {'round_decimals': 1, 'row_match_threshold': 0.9, 'tolerance': 3}}
  Delivered: {'aggregation_summary': {'sums': {'fare': 184.8, 'pclass': 12.0, 'survived': 500.0}, 'total_rows': {'max': 6, 'min': 6}}, 'column_analysis': {'expected_columns': ['pclass', 'sex', 'survived', 'fare'], 'missing_columns': [], 'possible_matches': {}, 'provided_columns': ['pclass', 'sex', 'survived', 'fare'], 'unexpected_columns': []}, 'verified_samples': [{'expected_values': {'survived': 139}, 'filter': {'pclass': 1, 'sex': 'female'}}, {'expected_values': {'survived': 75}, 'filter': {'pclass': 3, 'sex': 'male'}}]}

### 9.3 Escreva uma função para realizar o agrupamento do dataset de morbidade por UF e por município aplicando a soma sobre as colunas Valor_total, Internações e Dias_permanência. Em seguida calcule, para todos os municípios nesta agregação, o custo médio diário das internações com a fórmula abaixo. Retorne um dataframe com os top 3 municipios segundo o custo médio de internação.

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv```


#### Resultado esperado:


|      |   uf |   cod_ibge6 | Município             |      Valor_total |   Internações |   Dias_permanência |   custo_medio_diario_intern |
|-----:|-----:|------------:|:----------------------|-----------------:|--------------:|-------------------:|----------------------------:|
| 3967 |   41 |      410400 | Campina Grande do Sul |      3.32947e+07 |          7037 |              29277 |                      1137.2 |
| 3864 |   35 |      355365 | Taquaral              | 382405           |           152 |                465 |                       822.4 |
| 3685 |   35 |      353715 | Pedrinhas Paulista    | 769964           |           188 |               1004 |                       766.9 |
| 3205 |   33 |      330205 | Italva                |      2.39501e+06 |           585 |               3160 |                       757.9 |
| 3193 |   33 |      330115 | Cardoso Moreira       |      2.80194e+06 |           740 |               3840 |                       729.7 |

In [9]:
prompt93 = """A função tem no 1o argumento o caminho de um arquivo csv carregue o arquivo corretamente num dataframe chamado df_morbidade. Nesse csv, user o argumento sep=";". Os na values são ['-', '...'], o simbolo para decimal é a virgula, e a coluna cod_ibge6 deve ser importada como string. A primeira coluna já tem o índice para o dataframe, ou seja, use index_col=0. Crie uma coluna chamada uf apartir dos dois primeiros caracteres da coluna cod_ibge6. Agrege por uf, cod_ibge6 e Município e calcule a soma do Valor_total, Internações e Dias_permanência. Arredonde o resultado de todas essas métricas para um numero inteiro num formato int64. Use a seguinte fórmula para calcular o custo diário médio de internação: custo_medio_diario_intern = Valor_total/Dias_permanência, e armazene esse resultado numa nova coluna do dataframe. Retorne os 5 registros de maior custo medio de internação. Antes de retornar, aplique o metodo reset_index(drop=False)"""

In [10]:
validate(prompt93, "A9-E3")

Codigo gerado:
def process_morbidity_data(csv_path):
    df_morbidade = pd.read_csv(csv_path, sep=";", na_values=['-', '...'], decimal=',',
                                index_col=0, dtype={'cod_ibge6': str})

    df_morbidade['uf'] = df_morbidade['cod_ibge6'].str[:2]

    aggregated_df = df_morbidade.groupby(['uf', 'cod_ibge6', 'Município'], as_index=False).agg({
        'Valor_total': 'sum',
        'Internações': 'sum',
        'Dias_permanência': 'sum'
    }).round().astype({'Valor_total': 'int64', 'Internações': 'int64', 'Dias_permanência': 'int64'})

    aggregated_df['custo_medio_diario_intern'] = aggregated_df['Valor_total'] / aggregated_df['Dias_permanência']

    result_df = aggregated_df.reset_index(drop=False)

    return result_df.nlargest(5, 'custo_medio_diario_intern')

✅ Passed the Test Case!
  Expected: {'data': {'aggregation_checks': {'sum': {'Dias_permanência': 37746, 'Internações': 8702, 'Valor_total': 39644021, 'custo_medio_diario_intern': 4214}, 'total_rows': {'max': 5, 'min': 5}}, 'columns': ['uf', 'cod_ibge6', 'Município', 'Valor_total', 'Internações', 'Dias_permanência', 'custo_medio_diario_intern'], 'dtypes': {'Dias_permanência': 'int64', 'Internações': 'int64', 'Município': 'object', 'Valor_total': 'int64', 'cod_ibge6': 'object', 'custo_medio_diario_intern': 'float64', 'uf': 'object'}, 'sample_rows': [{'expected_values': {'custo_medio_diario_intern': 1137.2}, 'filter': {'cod_ibge6': '410400'}}, {'expected_values': {'custo_medio_diario_intern': 729.7}, 'filter': {'cod_ibge6': '330115'}}]}, 'type': 'dataframe', 'validation_rules': {'round_decimals': 1, 'row_match_threshold': 1.5, 'tolerance': 3}}
  Delivered: {'aggregation_summary': {'sums': {'Dias_permanência': 37746, 'Internações': 8702, 'Valor_total': 39644021, 'custo_medio_diario_intern': 4214}, 'total_rows': {'max': 5, 'min': 5}}, 'column_analysis': {'expected_columns': ['uf', 'cod_ibge6', 'Município', 'Valor_total', 'Internações', 'Dias_permanência', 'custo_medio_diario_intern'], 'missing_columns': [], 'possible_matches': {}, 'provided_columns': ['index', 'uf', 'cod_ibge6', 'Município', 'Valor_total', 'Internações', 'Dias_permanência', 'custo_medio_diario_intern'], 'unexpected_columns': ['index']}, 'verified_samples': [{'expected_values': {'custo_medio_diario_intern': 1137.2}, 'filter': {'cod_ibge6': '410400'}}, {'expected_values': {'custo_medio_diario_intern': 729.7}, 'filter': {'cod_ibge6': '330115'}}]}

### 9.4 Crie um prompt de uma função python para retornar a soma do Valor_total dos 5 municípios (do exercício anterior) do dataset de Morbidade do Datasus (ao longo do período representado no dataset disponibilizado).

#### Entradas: ```https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv``` e ```["410400", "330115", "330205", "353715", "355365"]```

#### Resultado esperado:
|    | Município             |      Valor_total |
|---:|:----------------------|-----------------:|
|  0 | Campina Grande do Sul |      33294700.7 |
|  1 | Cardoso Moreira       |      2801938.8 |
|  2 | Italva                |      2395014.9 |
|  3 | Pedrinhas Paulista    | 769964.0           |
|  4 | Taquaral              | 382405.0           |

In [17]:
prompt94 = """A função tem no 1o argumento o caminho de um arquivo csv carregue o arquivo corretamente num dataframe chamado df_morbidade. Nesse csv, o caracter do argumento sep é o ";". Os na values são ['-', '...'], o simbolo para decimal é a virgula, e a coluna cod_ibge6 deve ser importada como string. A primeira coluna já tem o índice para o dataframe, ou seja, use index_col=0. Crie uma coluna chamada uf a partir dos dois primeiros caracteres da coluna cod_ibge6.  Selecione todos os registros cujo cod_ibge6 esteja nesta lista ["410400", "330115", "330205", "353715", "355365"]. Depois agregue por "Município" e retorne a soma do valor Valor_total arredondado como numero inteiro. Escreva um código para testar esta função a partir desta url 'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv'. Antes de retornar, aplique o metodo reset_index(drop=False)"""

In [18]:
validate(prompt94, "A9-E4")

Error: 400 - Bad Request
Details: {"error":"Unsafe code: Syntax error in code: invalid syntax (<unknown>, line 1)"}

### Exercício de Reflexão (Facultativo)
#### Você aprendeu alguma coisa que pode ser reaproveitado em outros problemas?
#### Como você pode melhorar seu processo de elaboração de requisitos / prompts?
#### Você notou ambiguidade na sua especificação inicial?

In [19]:
resposta="""AQUI"""

In [ ]:
validate(resposta, "A9-R1")