<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Exercicios/Aula6_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 6 - Exercícios - Pandas e Fontes de dados

In [65]:
!pip install --upgrade ipynb_autograde 1> /dev/null

In [66]:

%env  COURSE=mba_enap
from ipynb_autograde.main import init_log, validate
init_log()
email_result=!gcloud config get-value account
if not email_result or 'unset' in email_result[0]:
  !gcloud auth login

env: COURSE=mba_enap

In [17]:
# Importe as bibliotecas pandas, numpy
import pandas as pd
import numpy as np
from numpy import nan

### 6.1 Crie um prompt de uma função python para calcular a média do IDEB de 2017, de uma determinada UF e da Rede Municipal.

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/ideb/ideb_municipios2017.xlsx``` e ```'GO'```

#### Resultado esperado: ```4.0```

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/ideb/ideb_municipios2017.xlsx``` e ```'SC'```

#### Resultado esperado: ```4.5```

#### Entrada: ```https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/ideb/ideb_municipios2017.xlsx``` e ```'SP'```

#### Resultado esperado: ```4.9```

In [89]:
prompt61="""Crie uma função em Python chamada calcular_media_ideb que calcula a média do IDEB de 2017 para escolas públicas de um estado específico cuja URL do xlsx foi passada como argumento da função, juntamente com a sigla da UF. A função deve carregar o DataFrame, descartar as 9 primeiras linhas. Substituir valores ausentes representados por '-' por NaN e filtrar os dados apenas para escolas municipal cuja Rede (coluna de índice 3) seja igual a 'Municipal' e cuja UF (1a coluna) seja igual ao argumento uf passado na função. Calcule a média da coluna de índice 14 considerando e retorne o valor arredondado para baixo com uma casa decimal."""

In [92]:
validate(prompt61, "A6-E1")

Codigo gerado:
def calcular_media_ideb(url, uf):


    df = pd.read_excel(url, skiprows=9)
    df.replace('-', np.nan, inplace=True)
    df_filtered = df[(df.iloc[:, 3] == 'Municipal') & (df.iloc[:, 0] == uf)]
    coluna_ideb = df_filtered.iloc[:, 14].astype(float)
    media = coluna_ideb.mean()
    media_arredondada = int(media * 10) / 10
    return media_arredondada

✅ Passed Test Cases:
  - Test ID: 1: 4.5
  - Test ID: 1: 4.9
  - Test ID: 1: 4.0

❌ No tests failed.

### 6.2 Crie um prompt de uma função python para distribuir pessoas de forma aleatoria em grupos conforme o exemplo a seguir. O 1o argumento é a lista de nomes, o 2o é uma semente (para garantir a replicabilidade do experimento) e o 3o é o tamanho do grupo.

#### Entrada: ```["Lisa Watson", "Gilbert Ravenell", "Olga Crocker", "Julie Lewis", "Kimberly Ransome", "Jennifer Daniels", "Jillian Brennan", "Mary Phinney", "Michelle Humphreys"]```, ```42``` e ```4```

#### Resultado esperado:
Um dataframe exatamente igual a esse

|    | Grupo   | Nome               |
|---:|:--------|:-------------------|
|  0 | Grupo 1 | Julie Lewis        |
|  1 | Grupo 1 | Jillian Brennan    |
|  2 | Grupo 1 | Mary Phinney       |
|  3 | Grupo 1 | Kimberly Ransome   |
|  4 | Grupo 2 | Michelle Humphreys |
|  5 | Grupo 2 | Olga Crocker       |
|  6 | Grupo 2 | Jennifer Daniels   |
|  7 | Grupo 2 | Lisa Watson        |
|  8 | Grupo 3 | Gilbert Ravenell   |

#### Dica 1: A função len calcula o tamanho de uma lista.
#### Dica 2: Use a função math.ceil(N/n), onde N é o tamanho da lista e n é a quantidade de pessoas em cada grupo.

In [97]:
prompt62="""Escreva uma função para gerar uma permutação (aleatória) de uma lista, passada como argumento, usando um seed (2o argumento) para garantir a replicabilidade dos experimentos e colocar o resultado essa lista reordenada numa coluna do dataframe chamada Nome. Uma outra coluna deve ser criada contendo o padrão "Grupo X" repetido N vezes, N é o 3o argumento da função e representa o tamanho do grupo, e X deve variar de 1 a até len(lista)/N, se não houver resto da divisão len(lista)/N, ou então X terá o valor máximo de len(lista)/N + 1, caso a divisão não seja inteira."""

In [98]:
validate(prompt62, "A6-E2")

Codigo gerado:




def gerar_permutacao(lst, seed, N):
    random.seed(seed)
    shuffled_list = lst.copy()
    random.shuffle(shuffled_list)

    total_grupos = math.ceil(len(shuffled_list) / N)
    grupos = []
    for i in range(len(shuffled_list)):
        grupo_num = (i // N) + 1
        grupos.append(f"Grupo {grupo_num}")

    df = pd.DataFrame({
        'Nome': shuffled_list,
        'Grupo': grupos
    })

    return df


❌ Failed the Test Case:
  Expected: {'aggregation_summary': {'means': {}, 'sums': {}, 'total_rows': {'max': 9, 'min': 9}}, 'verified_samples': [{'expected_values': {'Nome': 'Gilbert Ravenell'}, 'filter': {'Grupo': 'Grupo 2'}}]}
  Delivered: {'aggregation_summary': {'means': {}, 'sums': {}, 'total_rows': {'max': 9, 'min': 9}}, 'verified_samples': [{'expected_values': {'Nome': 'Gilbert Ravenell'}, 'filter': {'Grupo': 'Grupo 2'}}]}

In [103]:
import random
def gerar_permutacao(lst, seed, N):
    random.seed(seed)
    shuffled_list = lst.copy()
    random.shuffle(shuffled_list)

    total_grupos = math.ceil(len(shuffled_list) / N)
    grupos = []
    for i in range(len(shuffled_list)):
        grupo_num = (i // N) + 1
        grupos.append(f"Grupo {grupo_num}")

    df = pd.DataFrame({
        'Grupo': grupos,
        'Nome': shuffled_list
    })

    return df
df = gerar_permutacao(["Lisa Watson", "Gilbert Ravenell", "Olga Crocker", "Julie Lewis", "Kimberly Ransome", "Jennifer Daniels", "Jillian Brennan", "Mary Phinney", "Michelle Humphreys"], 42, 4)
df.to_markdown()

'|    | Grupo   | Nome               |\n|---:|:--------|:-------------------|\n|  0 | Grupo 1 | Julie Lewis        |\n|  1 | Grupo 1 | Jillian Brennan    |\n|  2 | Grupo 1 | Mary Phinney       |\n|  3 | Grupo 1 | Kimberly Ransome   |\n|  4 | Grupo 2 | Michelle Humphreys |\n|  5 | Grupo 2 | Olga Crocker       |\n|  6 | Grupo 2 | Jennifer Daniels   |\n|  7 | Grupo 2 | Lisa Watson        |\n|  8 | Grupo 3 | Gilbert Ravenell   |'

In [76]:
def gerar_permutacao_em_grupos(names_list, seed, n):
    import math
    import pandas as pd
    import random

    # Set the random seed
    random.seed(seed)

    # Calculate number of people and groups needed
    N = len(names_list)
    num_groups = math.ceil(N/n)

    # Create list of group names repeated n times
    groups = ['Grupo ' + str(g) for g in range(num_groups)] * n
    groups.sort()
    groups = groups[:N]  # Trim to match number of names

    # Shuffle the names
    shuffled_names = names_list.copy()  # Create a copy to avoid modifying original list
    random.shuffle(shuffled_names)

    # Create DataFrame with explicit columns
    df = pd.DataFrame({
        'Grupo': groups,
        'Nome': shuffled_names
    })

    return df

In [79]:
## Faça seus testes aqui
# Instale a biblioteca names, na primeira vez que rodar esta célula
#!pip install names  ##### Execute esta linha na primeira vez que executar esta célula !!! ####
nomes = ['Lisa Watson', 'Gilbert Ravenell', 'Olga Crocker', 'Julie Lewis', 'Kimberly Ransome', 'Jennifer Daniels', 'Jillian Brennan', 'Mary Phinney', 'Michelle Humphreys']

gerar_permutacao_em_grupos(nomes, 42, 4)

     Grupo                Nome
0  Grupo 0         Julie Lewis
1  Grupo 0     Jillian Brennan
2  Grupo 0        Mary Phinney
3  Grupo 0    Kimberly Ransome
4  Grupo 1  Michelle Humphreys
5  Grupo 1        Olga Crocker
6  Grupo 1    Jennifer Daniels
7  Grupo 1         Lisa Watson
8  Grupo 2    Gilbert Ravenell

In [ ]:
# Validação
import names
N = 9
group_length = 4
test_data = [names.get_full_name() for n in range(N)]
result = ['Grupo 0', 'Grupo 0', 'Grupo 0', 'Grupo 0', 'Grupo 1', 'Grupo 1', 'Grupo 1', 'Grupo 1', 'Grupo 2']

entradas = [[test_data, group_length]]
saidas = [result]
validate(create_groups, entradas, lambda x: x.index.to_list(), saidas, "6.2", False)

### 6.3 Escreva uma função para carregar corretamente o dataframe de população disponibilizado. A função deve receber como argumento o caminho para o dataset. Crie uma coluna chamada ```cod_ibge7``` a partir da concatenação  do conteúdo das colunas ```cod_uf``` e ```cod_munic``` (nesta ordem).

#### Dica 1: Converta o codigo do município para string ao carregar o dataframe de população utilizando o mapeamento de tipos dtype={'cod_munic': str, 'cod_uf': str}. Assim o codigo do municipio não perde os zeros a esquerda.
#### Dica 2: Concatene o codigo da UF com o código do município usando o operador.

In [86]:
prompt63="""Escreva uma função Python utilizando pandas para carregar um arquivo Excel de uma URL passada como argumento. O código deve:
    Ler a planilha chamada 'MUNICÍPIOS', ignorando a primeira linha;
    Converter as colunas 'COD. UF' e 'COD. MUNIC' para string;
    Remover a última coluna do DataFrame;
    Alterar o nome duas últimas colunas para 'MUNICIPIO' e 'POPULACAO', respectivamente;
    Criar uma nova coluna chamada 'cod_ibge7', concatenando 'COD. UF' e 'COD. MUNIC';
    Excluir as últimas 40 linhas do DataFrame;
    Retornar o dataframe resultante."""

In [94]:
validate(prompt63, "A6-E3")

Codigo gerado:
def carregar_municipios(url):
    df = pd.read_excel(url, sheet_name='MUNICÍPIOS', skiprows=1)
    df['COD. UF'] = df['COD. UF'].astype(str)
    df['COD. MUNIC'] = df['COD. MUNIC'].astype(str)
    df = df.iloc[:, :-1]
    df.rename(columns={
        df.columns[-2]: 'MUNICIPIO',
        df.columns[-1]: 'POPULACAO'
    }, inplace=True)
    df['cod_ibge7'] = df['COD. UF'] + df['COD. MUNIC']
    df = df.iloc[:-40].reset_index(drop=True)
    return df


❌ Failed the Test Case:
  Expected: {'aggregation_summary': {'means': {'POPULACAO': 38158.9}, 'sums': {'POPULACAO': 212583750.0}, 'total_rows': {'max': 5571, 'min': 5571}}, 'verified_samples': [{'expected_values': {'POPULACAO': 2982818}, 'filter': {'UF': 'DF'}}, {'expected_values': {'POPULACAO': 22853}, 'filter': {'cod_ibge7': '1100015'}}]}
  Delivered: {'aggregation_summary': {'means': {'POPULACAO': 38158.9}, 'sums': {'POPULACAO': 212583750.0}, 'total_rows': {'max': 5571, 'min': 5571}}, 'verified_samples': [{'expected_values': {'POPULACAO': 2982818}, 'filter': {'UF': 'DF'}}, {'expected_values': {'POPULACAO': 22853}, 'filter': {'cod_ibge7': '1100015'}}]}

In [ ]:
# prompt: Escreva uma função Python utilizando pandas para carregar um arquivo Excel de uma URL passada como argumento. O código deve:
#     Ler a planilha chamada 'MUNICÍPIOS', ignorando a primeira linha;
#     Converter as colunas 'COD. UF' e 'COD. MUNIC' para string;
#     Remover a última coluna do DataFrame;
#     Alterar o nome duas últimas colunas para 'MUNICIPIO' e 'POPULACAO', respectivamente;
#     Criar uma nova coluna chamada 'cod_ibge7', concatenando 'COD. UF' e 'COD. MUNIC';
#     Excluir as últimas 40 linhas do DataFrame;
#     Retornar o dataframe resultante.

import pandas as pd

def carregar_dataframe_populacao(url):
    # Lê a planilha 'MUNICÍPIOS', ignorando a primeira linha e convertendo colunas para string
    df = pd.read_excel(url, sheet_name='MUNICÍPIOS', header=1, dtype={'COD. UF': str, 'COD. MUNIC': str})

    # Remove a última coluna
    df = df.iloc[:, :-1]

    # Renomeia as duas últimas colunas
    df = df.rename(columns={df.columns[-2]: 'MUNICIPIO', df.columns[-1]: 'POPULACAO'})

    # Cria a coluna 'cod_ibge7'
    df['cod_ibge7'] = df['COD. UF'] + df['COD. MUNIC']

    # Exclui as últimas 40 linhas
    df = df[:-40]

    return df

In [ ]:
path_pop = 'https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/populacao/estimativa_dou_2017.xlsx'
entradas = [[path_pop]]
saidas = [{'uf': 'RO', 'cod_uf': '11', 'cod_munic': '00015', 'municipio': "Alta Floresta D'Oeste",
 'pop2017': 25437, 'cod_ibge7': '1100015'}]
validate(load_pop, entradas, lambda x: x.iloc[0].to_dict(), saidas, "6.3", False)

### 6.4 Despivote o dataframe abaixo transformando as colunas 1991, 2000 e 2010 em conteúdos das linhas no dataframe resultante.
#### Dataframe de entrada:
|    | Município                      |     1991 |   2000 |   2010 |
|---:|:-------------------------------|---------:|-------:|-------:|
|  0 | 110001 Alta Floresta D'Oeste   |   0.5983 | 0.5868 | 0.5893 |
|  1 | 110037 Alto Alegre dos Parecis | NaN     | 0.508  | 0.5491 |
|  2 | 110040 Alto Paraíso            | NaN     | 0.6256 | 0.5417 |
|  3 | 110034 Alvorada D'Oeste        |   0.569  | 0.6534 | 0.5355 |
|  4 | 110002 Ariquemes               |   0.5827 | 0.5927 | 0.5496 |

#### Resultado esperado:
|    | Município                      |   data |     gini |
|---:|:-------------------------------|-------:|---------:|
|  0 | 110001 Alta Floresta D'Oeste   |   1991 |   0.5983 |
|  1 | 110037 Alto Alegre dos Parecis |   1991 | NaN     |
|  2 | 110040 Alto Paraíso            |   1991 | NaN     |
|  3 | 110034 Alvorada D'Oeste        |   1991 |   0.569  |
|  4 | 110002 Ariquemes               |   1991 |   0.5827 |
|  5 | 110001 Alta Floresta D'Oeste   |   2000 |   0.5868 |
|  6 | 110037 Alto Alegre dos Parecis |   2000 |   0.508  |
|  7 | 110040 Alto Paraíso            |   2000 |   0.6256 |
|  8 | 110034 Alvorada D'Oeste        |   2000 |   0.6534 |
|  9 | 110002 Ariquemes               |   2000 |   0.5927 |
| 10 | 110001 Alta Floresta D'Oeste   |   2010 |   0.5893 |
| 11 | 110037 Alto Alegre dos Parecis |   2010 |   0.5491 |
| 12 | 110040 Alto Paraíso            |   2010 |   0.5417 |
| 13 | 110034 Alvorada D'Oeste        |   2010 |   0.5355 |
| 14 | 110002 Ariquemes               |   2010 |   0.5496 |

In [ ]:
def unpivot_gini(df):
    """retorne um dataframe despivotado.
    """
    ### BEGIN SOLUTION
    return df.melt(id_vars=['Município'], var_name='data', value_name='gini')
    ### END SOLUTION

In [ ]:
# Faça seus testes aqui
dataset_gini = {'Município': {0: "110001 Alta Floresta D'Oeste",
  1: '110037 Alto Alegre dos Parecis',
  2: '110040 Alto Paraíso',
  3: "110034 Alvorada D'Oeste",
  4: '110002 Ariquemes'},
 '1991': {0: 0.5983, 1: None, 2: None, 3: 0.569, 4: 0.5827},
 '2000': {0: 0.5868, 1: 0.508, 2: 0.6256, 3: 0.6534, 4: 0.5927},
 '2010': {0: 0.5893, 1: 0.5491, 2: 0.5417, 3: 0.5355, 4: 0.5496}}
df_gini = pd.DataFrame(dataset_gini)
df_gini

In [ ]:
# Validação
dataset_gini = {'Município': {0: "110001 Alta Floresta D'Oeste",
  1: '110037 Alto Alegre dos Parecis',
  2: '110040 Alto Paraíso',
  3: "110034 Alvorada D'Oeste",
  4: '110002 Ariquemes'},
 '1991': {0: 0.5983, 1: None, 2: None, 3: 0.569, 4: 0.5827},
 '2000': {0: 0.5868, 1: 0.508, 2: 0.6256, 3: 0.6534, 4: 0.5927},
 '2010': {0: 0.5893, 1: 0.5491, 2: 0.5417, 3: 0.5355, 4: 0.5496}}
df_gini = pd.DataFrame(dataset_gini)

test_data = {'Município': {0: "110001 Alta Floresta D'Oeste", 1: '110037 Alto Alegre dos Parecis',
  2: '110040 Alto Paraíso',  3: "110034 Alvorada D'Oeste", 4: '110002 Ariquemes', 5: "110001 Alta Floresta D'Oeste",
  6: '110037 Alto Alegre dos Parecis', 7: '110040 Alto Paraíso', 8: "110034 Alvorada D'Oeste", 9: '110002 Ariquemes',
  10: "110001 Alta Floresta D'Oeste", 11: '110037 Alto Alegre dos Parecis', 12: '110040 Alto Paraíso',
  13: "110034 Alvorada D'Oeste", 14: '110002 Ariquemes'}, 'data': {0: '1991', 1: '1991', 2: '1991', 3: '1991',
  4: '1991', 5: '2000', 6: '2000', 7: '2000', 8: '2000', 9: '2000', 10: '2010', 11: '2010', 12: '2010', 13: '2010',
  14: '2010'},'gini': {0: 0.5983, 1: nan, 2: nan, 3: 0.569, 4: 0.5827, 5: 0.5868, 6: 0.508, 7: 0.6256, 8: 0.6534,
  9: 0.5927, 10: 0.5893, 11: 0.5491, 12: 0.5417, 13: 0.5355, 14: 0.5496}}

entradas = [[df_gini]]
saidas = [pd.DataFrame(test_data)]
validate(unpivot_gini, entradas, lambda x: x, saidas, "6.4", False)